force-app/main/default/flows/Case_Update_Parent_Case_Status_for_Child_Case_Statuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign Done Case Count</description>
        <name>Assign_Done_Case_Count</name>
        <label>Assign Done Case Count</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>DoneCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Done_Child_Cases_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllChildCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Child_Cases_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_DoneCaseCount_is_equals_to_AllChildCaseCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If DoneCaseCount is equals to AllChildCaseCount</description>
        <name>If_DoneCaseCount_is_equals_to_AllChildCaseCount</name>
        <label>Decide DoneCaseCount is equals to AllChildCaseCount</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Cases_are_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllChildCaseCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DoneCaseCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case_Status_Record</targetReference>
            </connector>
            <label>All Cases are Done</label>
        </rules>
    </decisions>
    <description>[Case] Update Parent Case Status to Done for if all Child Case Statuses set to Done</description>
    <environments>Default</environments>
    <interviewLabel>[Case] Update Parent Case Status for Child Case Statuses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Update Parent Case Status for Child Case Statuses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Child Cases Records from Parent Case</description>
        <name>Get_All_Child_Cases_Records</name>
        <label>Get All Child Cases Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Done_Case_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Done Child Cases Records from the &quot;Parent Case&quot;</description>
        <name>Get_Done_Child_Cases_Records</name>
        <label>Get Done Child Cases Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Child_Cases_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Parent Case Status Record</description>
        <name>Update_Parent_Case_Status_Record</name>
        <label>Update Parent Case Status Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Done_Child_Cases_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllChildCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DoneCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
